name: Release

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5

    - name: Set up JDK
      uses: actions/setup-java@v5
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: 'gradle'

    - name: Build
      run: ./gradlew build buildPlugin --info

    - name: Get version from tag
      id: version
      run: |
        version=${GITHUB_REF#refs/tags/v}
        echo "release=$version" >> $GITHUB_OUTPUT
        echo "releasenumber=${version//[!0-9]/}" >> $GITHUB_OUTPUT

    - name: Create Release
      id: create_release
      uses: shogo82148/actions-create-release@v1
      with:
        tag_name: ${{ github.ref }}
        release_name: v${{ steps.version.outputs.release }}
        body: |
          ## Changelog
          See [CHANGELOG.md](https://github.com/${{ github.repository }}/blob/master/CHANGELOG.md#${{ steps.version.outputs.releasenumber }}) for details.

          ## Installation
          The plugin is listed on the [Marketplace](https://plugins.jetbrains.com/plugin/23827).

          Open the plugin Marketplace in your IDE (``File > Settings > Plugins > Marketplace``),
          search for the plugin and hit the install button.

    - name: Upload Assets
      uses: shogo82148/actions-upload-release-asset@v1
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: build/distributions/external-java-formatter-intellij-plugin-*.zip
